<header>
  <nav class="navbar">
    <div class="navbar-header">
        Face App
    </div>

    <a href="/" class="navbar-link">Home</a>   |
    <a href="users/:id/new_image" class="navbar-link">New Image</a>   |
    <a href="/users/:id" class="navbar-link">Profile</a> |
    <a href="/" class="navbar-link"> Log out </a>
  </nav>
</header>