<!DOCTYPE html>
<html>
    <% include partials/_head %>
  <body>
    <% include partials/_header %>
    <h1> Home Page </h1>
    <p> Images from all Users </p>
    <section>
      <div>
        <img src="https://storage.googleapis.com/faceimages/bolt.jpg" alt="no image">
      </div>
    </section>

  </body>
  </html>
