<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>

    <% include partials/_nav %>
    <h1> Home Page </h1>
    <section>
    <p> Images from all Users </p>


        <div>
          <% for(var i=0; i<data.length; i++) { %>
          <div><img src="https://storage.googleapis.com/faceimages/<%=data[i]%>"></div>
          <% } %>
        </div>
      </section>

  </body>
</html>
