<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% include partials/_head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
  </head>

  <body>
    <% include partials/_nav %>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" password="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <h4>Don't have an account? <a href="/register">Sign up</a></h4>
      </form>


    </div> <!-- /container -->

    <% include partials/_footer.ejs %>
  </body>
</html>
