<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
      <% include partials/_header %>


      <h1>  <%= data[0].username %>'s Profile Page</h1>
      <p> Images Created </p>



           <div>
          <% for(var i=0; i<data.length; i++) { %>
          <div><p><%= data[i].title %></p>
          <img src="<%= data[i].bucket_url %>"></div>
          <% } %>
        </div>



  </body>
</html>
