<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <% include partials/_head %>
    <link href="/stylesheets/welcome.css" rel="stylesheet">

  </head>
  <body>

    <% include partials/_nav %>
    <div class=center>
     <h1 > WELCOME to FACE REPLACE<h1>
     <p> Creating Images Made Easy </p>
    <a href="/login"<button id="welcome" type="button" class="btn btn-success">Replae A Face Now !</button></a>
     </div>



   <% include partials/_footer.ejs %>


</html>
