<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <% include partials/_head %>
    <link href="/stylesheets/welcome.css" rel="stylesheet">

  </head>
  <body>

    <% include partials/_nav %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Welcome to FACE REPLACE</h1>
                <h3>Be Who You Want To Be</h3>
                <a href="/register"<button id="welcome" type="button" class="btn btn-primary">Replace A Face Now</button></a>


            </div>
        </div>
        <!-- /.row -->
    </div>




   <% include partials/_footer.ejs %>


</html>
